<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hunger.mapper.ElCartMapper">
    
    <resultMap type="ElCart" id="ElCartResult">
        <result property="id"    column="id"    />
        <result property="userName"    column="user_name"    />
        <result property="totalCount"    column="total_count"    />
        <result property="totalPrice"    column="total_price"    />
        <result property="preMoney"    column="pre_money"    />
        <result property="payMoney"    column="pay_money"    />
    </resultMap>


</mapper>