<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hunger.mapper.ElOrderMapper">
    
    <resultMap type="ElOrder" id="ElOrderResult">
        <result property="id"    column="id"    />
        <result property="userName"    column="user_name"    />
        <result property="createdTime"    column="created_time"    />
        <result property="totalCount"    column="total_count"    />
        <result property="totalPrice"    column="total_price"    />
        <result property="preMoney"    column="pre_money"    />
        <result property="postFee"    column="post_fee"    />
        <result property="payMoney"    column="pay_money"    />
        <result property="payStatus"    column="pay_status"    />
        <result property="payType"    column="pay_type"    />
        <result property="consignTime"    column="consign_time"    />
        <result property="arriveTime"    column="arrive_time"    />
        <result property="addressId"    column="address_id"    />
        <result property="endTime"    column="end_time"    />
        <result property="invoice"    column="invoice"    />
    </resultMap>

</mapper>