<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hunger.mapper.ElShopMapper">
    
    <resultMap type="ElShop" id="ElShopResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="provinceName"    column="province_name"    />
        <result property="cityName"    column="city_name"    />
        <result property="areaName"    column="area_name"    />
        <result property="detail"    column="detail"    />
        <result property="latitude"    column="latitude"    />
        <result property="longitude"    column="longitude"    />
        <result property="phone"    column="phone"    />
        <result property="imagePath"    column="image_path"    />
        <result property="status"    column="status"    />
        <result property="promotionInfo"    column="promotion_info"    />
        <result property="description"    column="description"    />
        <result property="deliveryMode"    column="delivery_mode"    />
        <result property="isNew"    column="is_new"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
    </resultMap>


</mapper>